* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(34, 34, 34);
    background-image: url("./icone-de-botao-de-geometria-de-jogo-flutuando-na-ilustracao-3d-de-fundo-renderizando-o-resumo-do-papel-de-parede-para-o-jogador_42100-4244.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
    margin: 20px;
}
a{
    color: white
}
a:hover{
    color: rgb(143, 81, 143)
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;
}
img{
    width: 500px;
    border-radius: 50px;
    margin-top: 10px;
}
p{
    max-width: 500px;
    line-height: 25px;
}
